[Desktop Entry]
Name=LightTranslator
Comment=轻量级翻译工具，支持划词翻译、截图OCR等功能
Exec=AppRun
Icon=lighttranslator
Type=Application
Categories=Utility;Office;
Keywords=translate;translation;ocr;translator;
StartupWMClass=LightTranslator
